gcp:
  project_id: stream-accelerator-2
  project_number: "123456789012"
  region: us-central1

github:
  org: your-github-org
  repo: stream-accelerator
  branch: main

service_account:
  name: github-ci-cd
  display_name: "GitHub Actions CI/CD SA"

workload_identity:
  pool_id: github-pool
  provider_id: github-provider

roles:
  - roles/dataflow.admin
  - roles/storage.admin
  - roles/artifactregistry.admin
  - roles/iam.serviceAccountUser
  - roles/iam.workloadIdentityUser
  - roles/logging.logWriter

artifact_registry:
  repo_name: dataflow-templates
  location: us-central1
